.buildpath
.project
.gitmodules
.settings/
.gitmodules
application/configs/application.ini
application/configs/application.ini.old
library/Twitter
library/Bootstrap-Zend-Framework.git
library/Bootstrap-Zend-Framework
library/Doctrine
library/OSS-Framework.git
library/Smarty
library/ZFDebug 
library/Zend
public/.htaccess
var/log/[1-9]*
var/log/vimbadmin.log*
var/templates_c/[a-zA-Z0-9%]*
var/session/sess_*
var/tmp
library/Minify/
*~
composer.lock
vendor/[a-zA-Z0-9]*
vimbadmin.sublime-project
vimbadmin.sublime-workspace
vimbadmin3.sublime-project
vimbadmin3.sublime-workspace
