a,
a:active,
a:visited
{
    text-decoration: none;
    color: #1D5987;
    outline: none;
}

a:hover
{
    text-decoration: none;
    color: #000090;
}


a.ul, a:active.ul, a:visited.ul {
    text-decoration: none;
    color: #1D5987;
    outline: none;
    border-bottom-color: #1D5987;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

a:hover.ul {
    text-decoration: none;
    color: #1D5987;
    outline: none;
    border-bottom-color: #1D5987;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


th, td
{
    border: none;
    padding: 0.1em 0.5em 0.1em 0.2em;
}

.clr {
    clear: both;
}

h1 {
    font-size: 182%;
}


/***************************************************
 *
 * FORM DEFAULTS
 *
 ***************************************************/

input[type="text"],
input[type="password"],
textarea,
select
{
    background:url( "../images/input_bg.gif" ) repeat-x scroll center top #FFFFFF;
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 100%;
    margin: 0;
    margin-bottom: 8px;
    font-weight: normal;
    color: #000;
    padding: 3px;
    width: 194px;
}

select {
    width: 200px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus
{
    border: 1px solid #79b7e7;
    background: #DFEFFC;
}

input[type="text"][disabled="disabled"],
input[type="password"][disabled="disabled"],
textarea[disabled="disabled"],
select[disabled="disabled"]
{
    background: #eeeeee !important;
    color: #303030 !important;
}

input[type="text"][readonly="readonly"],
input[type="password"][readonly="readonly"],
textarea[readonly="readonly"]
{
    background: #eeeeee !important;
    color: #303030 !important;
}

input[type="text"][readonly="readonly"]:focus,
input[type="password"][readonly="readonly"]:focus,
textarea[readonly="readonly"]:focus
{
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
}

input.error {
    background-color: #ffc0c0;
    border: 1px solid #ffc0c0;
}

button,
input[type="button"],
input[type="submit"]
{
    background: url("../images/ui/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    padding: 3px;
    outline: none;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover
{
    border: 1px solid #79b7e7;
    background: #d0e5f5 url(../images/ui/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
    color: #1d5987;
}

input[type="radio"], input[type="checkbox"]
{
    vertical-align: middle;
    /* outline: none; */
}

.hidden_submit
{
    position: absolute;
    left: -1000px;
}

fieldset {
    display: inline;
    vertical-align: top;
    border: 1px solid #000;
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left:  0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 108%;
    color: #000;
}

label {
    display: block;
    font-weight: bold;
    color: #000;
    padding-bottom: 2px;
}

label.error {
    color: #ff5050;
    padding-left: 10px;
    font-size: 77%;
}

ul.errors {
    margin: 0px;
}

ul.errors li {
    margin-left: 30px;
    margin-bottom: 10px;
    color: #da0000;
    font-size: 93%;
}

/********************************************************************************************
 * BUTTONS
 *
 *  <a class="button" href="/lost-password"><span>Lost Password</span></a>
 *
 * From: http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html
 *********************************************************************************************/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('../images/bg_button_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
    outline: none;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

a.button:hover{
    background-position: bottom right;
}

a.button:hover span{
    background-position: bottom left;
    color: black;
}

/********************************************************************************************
 *
 * ViMbAdmin MESSAGE
 *
 *********************************************************************************************/

div#vimbadmin_messages
{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.vimbadmin-message {
    border: 1px solid;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 95%;
    font-size: 100%;
    margin-left:  auto;
    margin-right: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.vimbadmin-message p {
    margin: 0px;
    text-align: left;
}

.vimbadmin-message-icon {
    float: right;
}

.vimbadmin-message-success {
    border-color: rgb(0, 180, 0);
    background-color: rgb(235, 255, 235);
    color: rgb(0, 180, 0);
}

.vimbadmin-message-alert {
    border-color: #ff8400;
    background: #ffdebb;
    color: #000000;
}

.vimbadmin-message-error {
    border-color: rgb(180, 0, 0);
    background-color: rgb(255, 235, 235);
    color: rgb(180, 0, 0);
}

.vimbadmin-message-info {
    border-color: #000000;
    background: #F1F3F5;
    color: #000000;
}

/********************************************************************************************
 *
 * Accordion
 *
 *********************************************************************************************/

div.accordion-section a, div.accordion-section a:link, div.accordion-section a:visited
{
    display: block;
    padding: 3px;
    padding-left: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

div.accordion-section a:hover
{
    background-color: #dfeffc;
    color: black;
}

/********************************************************************************************
 *
 * Information Table
 *
 *********************************************************************************************/

table.info {
    padding: 10px;
    clear: both;
    width: 100%;
}

table.info thead tr {
    border-top: 3px solid #79b7e7;
    border-bottom: 3px solid #79b7e7;
    color: #000;
    font-weight: bold;
}

table.info thead th {
    text-align: left;
}

table.info tbody tr {
    border-bottom: 1px solid #79b7e7;
    color: #000;
}

table.info tfoot {
    border-top: 3px solid #79b7e7;
}

table.info tfoot td{
    padding: 0;
    margin: 0;
}

/********************************************************************************************
 *
 * Round Corner
 *
 *********************************************************************************************/

.roundcorner_5px
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.roundcorner_tl_5px
{
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-radius-topleft: 5px;
}

.roundcorner_tr_5px
{
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-radius-topright: 5px;
}

.roundcorner_bl_5px
{
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-radius-bottomleft: 5px;
}

.roundcorner_br_5px
{
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius-bottomright: 5px;
}

/********************************************************************************************
 *
 * OTHER
 *
 *********************************************************************************************/

opacity_70
{
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
}

div.option_box
{
    width: 130px;
    height: 80px;
    margin: 0 15px 15px 0;
    padding: 5px 2px 2px 2px;
    float: left;
    text-align: center;
    cursor: pointer;

    /*
    border: 1px solid #C5DBEC;
    background-color: #DFEFFC;
    color: #2E6E9E;
    */

    border: 1px solid #79b7e7;
    background-color: #d0e5f5;
    color: #1d5987;
}

/*
div.option_box:hover
{
    border: 1px solid #79b7e7;
    background-color: #d0e5f5;
    color: #1d5987;
}
*/

div.option_box a
{
    display: block;
    width: 100%;
    height: 100%;
}

div.option_box a,
div.option_box a:hover,
div.option_box a:active,
div.option_box a:visited
{
    text-decoration: none;
    color: #1D5987;
}

div.option_box img
{
    display: block;
    margin: 0 auto 10px auto;
    border: none;
}

h1.title
{
    margin-top: 0;
}

ul#company_list label
{
    display: inline;
}

ul#company_list,
ul#company_list li
{
    list-style-type: none;
    line-height: 1.8em;
}

ul#company_list li img
{
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

table#department_list
{
    line-height: 1.8em;
}

table#department_list td
{
    vertical-align: middle;
}

table#department_list input[type="text"]
{
    width: 190px;
    margin: 0;
}

.bold
{
    font-weight: bold !important;
}

.normal
{
    font-weight: normal !important;
}

.dontdisplay
{
    display: none;
}

label.error
{
    margin-left: 5px;
}

.ui-dialog .ui-dialog-buttonpane
{
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
    float: none;
}

.red
{
    color: red !important;
}

.green
{
    color: green !important;
}

.black
{
    color: black !important;
}

.valign_middle
{
    vertical-align: middle !important;
}

.valign_top
{
    vertical-align: top !important;
}

input#nsc_nsc1,
input#nsc_nsc2,
input#nsc_nsc3
{
    width: 30px;
}

.throbber_img
{
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#bank_branch
{
    line-height: 1.8em;
}

.TooltipContainer
{
    display: none;
    border: 1px solid gray;
    background: #fdfbcb;
    padding: 5px;
    margin: 8px;
    position: absolute;
    top: -5000px;
    left: -5000px;
    z-index: 20000;
    text-align: justify;
    vertical-align: top;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0 0 7px 2px gray;
    -moz-box-shadow: 0 0 7px 2px gray;
    -webkit-box-shadow: 0 0 7px 2px gray;
}

.dark_row
{
    background: #dfeffc;
}

.light_row
{
}

div#warning_no_security_method
{
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid red;
    padding: 5px;
    margin: 20px 10px 0 0;
    background: #fff0f0;
}

#yubikey_form #yubicode
{
    width: 300px;
}

#otc_alt_email
{
    width: 300px;
}

.inline
{
    display: inline !important;
}

.left
{
    text-align: left !important;
}

.right
{
    text-align: right !important;
}

.center
{
    text-align: center !important;
}

ul.no_list_type
{
    list-style-type: none !important;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0 !important;
}

ul.no_list_type li
{
    list-style-type: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

ul.ui-autocomplete
{
    list-style-type: none !important;
}

ul.ui-autocomplete li
{
    list-style-type: none !important;
}

.ui-autocomplete-loading
{
    background: #DFEFFC url('../images/throbber.gif') right center no-repeat !important;
}

.clickable
{
    cursor: pointer;
}





div#login-image {
    margin-left: auto;
    margin-right: auto;
	width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#login {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border: 2px solid #0092ef;
	padding: 20px;

	
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0 0 7px 2px gray;
    -moz-box-shadow: 0 0 7px 2px gray;
    -webkit-box-shadow: 0 0 7px 2px gray;
}

div#login h1 {
    margin: 0px;
    padding: 0px;
	padding-bottom: 10px;
}

div#login-right {
	margin-left: 300px;
    width: 300px;
}

div#login-left {
    width: 250px;
	float: left;
}

div#mb_pw_change {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 2px solid #0092ef;
    padding: 20px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0 0 7px 2px gray;
    -moz-box-shadow: 0 0 7px 2px gray;
    -webkit-box-shadow: 0 0 7px 2px gray;
}

div#login-demo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 2px solid #0092ef;
    padding: 20px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0 0 7px 2px gray;
    -moz-box-shadow: 0 0 7px 2px gray;
    -webkit-box-shadow: 0 0 7px 2px gray;
}

