
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; ViMbAdmin :: Virtual Mailbox Admin
;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; IMPORTANT: Review and change all options in [user]
;;

[user]



;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Enter a random string here to add salt to admin accounts
securitysalt = ""

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; When installing for the first time, it may be useful to set the following
; to 1 BUT ensure you set it to zero again in a production system
resources.frontController.params.displayExceptions = 0

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Default values used when created domains
; 0 means unlimited (i.e. a user can create unlimited aliases, or a user has no quota limit)
defaults.domain.quota = 0
defaults.domain.maxquota = 0
defaults.domain.transport = "virtual"
defaults.domain.aliases = 0
defaults.domain.mailboxes = 0

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Default values for creating mailboxes

; This sets the uid and gid columns in the mailbox table to the below valies
defaults.mailbox.uid = 2000
defaults.mailbox.gid = 2000

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Allow admins to dictate whether a user can use BOTH, IMAP ONLY, POP3 ONLY when creating mailboxes
;
; Must be supported by your POP3/IMAP server.
;
; See https://github.com/opensolutions/ViMbAdmin/wiki/POP3-IMAP-Access-Restriction for documentation
;
allow_access_restriction = false

; specify the options which should be allowed for access restrictions
access_restriction_type.smtp = "SMTP"
access_restriction_type.imap = "IMAP"
access_restriction_type.pop3 = "POP3"

; Set the homedir and maildir values in the mailbox table where the
; following substitutions apply:
;
;     %d -> domain part of email address
;     %u -> user part of email address
;     $m -> full email address
;
defaults.mailbox.maildir = "%d/%u/"
defaults.mailbox.homedir = "/home/vmail/"

;minimum mailbox password length
defaults.mailbox.min_password_length = 8

; The password hashing function to use. Set to one of:
;
;   "plain"          - password stored as clear text 
;   "md5"            - password hashed using MD5 without salt (PHP md5())
;   "md5.salted"     - password hashed using MD5 with salt (see below)
;   "crypt"          - standard DES hash (compatible with MySQL ENCRYPT and courier - be sure to
;                      set a two character hash below
;   "crypt:md5"      - standard MD5 hash with random seed
;   "crypt:blowfish" - Blowfish hash with random seed (not in mainline glibc; added in some Linux distributions)
;   "crypt:sha256"   - standard sha-256 hash (requires glibc 2.7 or newer). Equivalent to dovecot:SHA256-CRYPT
;   "crypt:sha512"   - standard sha-512 hash (requires glibc 2.7 or newer). Equivalent to dovecot:SHA256-CRYPT
;   "md5.crypt"      - MD5 based salted password hash nowadays commonly used in /etc/shadow. 
;                      (compatible with Dovecot) Requires min 8 character hash below.
;   "sha1"           - password hashed using sha1 without salt
;   "sha1.salted"    - password hashed using sha1 with salt defined below 
;   "dovecot:XXX"    - call the Dovecot password generator (see next option below) and use the 
;                      scheme specified by XXX. To see available schemes, use 'dovecotpw -l' 
;                      or 'doveadm pw -l'

defaults.mailbox.password_scheme = "md5"


; The path to (and initial option(s) if necessary) the Dovecot password generator. Typical 
; values may be something like:
;
; "/usr/bin/doveadm pw"
; "/usr/bin/dovecotpw"

defaults.mailbox.dovecot_pw_binary = "/usr/bin/doveadm pw"

; A hash to use when storing passwords. Typically used with "crypt"
; which only uses the first two characters and includes this in the
; final hash. For other schemes such as md5.salted then your mail system
; will also need to know and use this hash (or use Dovecot for authentication)

defaults.mailbox.password_hash = "ChangeMePlease"


; The number of rows displayed in the tables
; must be one of these: 10, 25, 50, 100
defaults.table.entries = 25

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; Settings email default values.
;;
;; Smae substituions apply as for maildir above. See (and edit) the
;; following file to see how the below are used:
;;
;;     views/mailbox/email/settings.phtml
;;

server.smtp.enabled = 1
server.smtp.host    = "smtp.%d"
server.smtp.user    = "%m"
server.smtp.port    = "25"
server.smtp.crypt   = "SSL"

server.pop3.enabled = 1
server.pop3.host  = "pop3.%d"
server.pop3.user  = "%m"
server.pop3.port  = "995"
server.pop3.crypt = "SSL"

server.imap.enabled = 1
server.imap.host  = "imap.%d"
server.imap.user  = "%m"
server.imap.port  = "993"
server.imap.crypt = "SSL"

server.webmail.enabled = 1
server.webmail.host  = "https://webmail.%d"
server.webmail.user  = "%m"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; All mails and correspondance will come from the following;;

server.email.name = "ViMbAdmin Administrator"
server.email.address = "vimbadmin@example.com"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; A "mailbox alias" will, for example add the following entry to
;; the alias table for a mailbox: name@example.com
;;
;;    name@example.com -> name@example.com
;;
;; This is required for aliasing an entire domain. If in doubt, leave it enabled.
mailboxAliases = 1


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; See: http://framework.zend.com/manual/en/zend.mail.smtp-authentication.html
;;
;; Ensure you have a working mail server configuration so the system can
;; send emails:
;;
resources.mailer.smtphost = "smtp.example.com"
;resources.mailer.username = ""
;resources.mailer.password = "96"
;resources.mailer.auth     = ""
;resources.mailer.ssl      = ""
;resources.mailer.port     = "25"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; You database connection.
;;
;; See: http://www.doctrine-project.org/projects/orm/1.2/docs/manual/introduction-to-connections/en
;;
;; phptype(dbsyntax)://username:password@protocol+hostspec/database?option=value
;;
;; Most variations are allowed:
;;
;; phptype://username:password@protocol+hostspec:110//usr/db_file.db
;; phptype://username:password@hostspec/database
;; phptype://username:password@hostspec
;; phptype://username@hostspec
;; phptype://hostspec/database
;; phptype://hostspec
;; phptype:///database
;; phptype:///database?option=value&anotheroption=anothervalue
;; phptype(dbsyntax)
;; phptype
;;
;; phptype is typically one of: mysqli, mysql, pgsql, sqlite, mssql
;;

; resources.doctrine.connection_string = "phptype://username:password@host/database"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; Local filesystem logging.
;;
;; We log various things to var/log/YYYY/MM/ if you enable the logger here.
;;
;; It is useful to use the email logger to be alerted of serious errors.
;;

resources.logger.enabled = 0

;resources.logger.writers.email.from = vimbadmin@example.com
;resources.logger.writers.email.to = sysadmins@example.com
;resources.logger.writers.email.prefix = "ViMbAdmin_Error"
;resources.logger.writers.email.level = 3

;resources.logger.writers.stream.level = 7


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; ViMbAdmin performs a version check on administrator login and alerts the
;; user if there is a newer version available.
;;
;; This can be disabled by setting the below to 1
;;

skipVersionCheck = 0


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; ViMbAdmin 'pings' the developers as part of the set up process to let
;; them know there is a new installation.
;;
;; All we are interested in is knowing whether people are using the software
;; or not and whether continued support and development is worth the time
;; and effort.
;;
;; Unless you're very shy, PLEASE LET US KNOW YOU'RE USING IT!
;;
;; This can be disabled by setting the below to 1
;;

skipInstallPingback = 0


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;; Proceed onwards with caution.
;;
;; The above [user] params are the may ones of consequence.
;;

[production : user]

phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

includePaths.library = APPLICATION_PATH "/../library"
includePaths.library = APPLICATION_PATH "/../library/Doctrine"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "ViMbAdmin"

temporary_directory = APPLICATION_PATH "/../var/tmp"

pluginPaths.ViMbAdmin_Resource = APPLICATION_PATH "/../library/ViMbAdmin/Resource"

mini_js = 1
mini_css = 1

alias_autocomplete_min_length = 2

resources.router.routes.changepass.route = "/change-password"
resources.router.routes.changepass.defaults.module = "default"
resources.router.routes.changepass.defaults.controller = "auth"
resources.router.routes.changepass.defaults.action = "change-password"

resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"

resources.doctrine.data_fixtures_path = APPLICATION_PATH "/../doctrine/data/fixtures"
resources.doctrine.models_path = APPLICATION_PATH "/models"
resources.doctrine.migrations_path = APPLICATION_PATH "/../doctrine/migrations"
resources.doctrine.sql_path = APPLICATION_PATH "/../doctrine/data/sql"
resources.doctrine.yaml_schema_path = APPLICATION_PATH "/../doctrine/schema"
resources.doctrine.generate_models_options.generateTableClasses = true
resources.doctrine.extensions_path = APPLICATION_PATH "/../library/DoctrineExtensions"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Database schema migration version - DO NOT CHANGE
migration_version = 2

resources.namespace.checkip = 1

resources.auth = 1

resources.session.save_path = APPLICATION_PATH "/../var/session"
resources.session.use_only_cookies = true
resources.session.remember_me_seconds = 3600

resources.logger.writers.stream.path = APPLICATION_PATH "/../var/log"
resources.logger.writers.stream.owner = www-data
resources.logger.writers.stream.group = www-data

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Smarty View
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
resources.view.enabled     = 0
resources.smarty.enabled   = 1
resources.smarty.templates = APPLICATION_PATH "/views"
resources.smarty.compiled  = APPLICATION_PATH "/../var/templates_c"
resources.smarty.cache     = APPLICATION_PATH "/../var/cache"
resources.smarty.config    = APPLICATION_PATH "/configs/smarty"
resources.smarty.plugins[] = APPLICATION_PATH "/../library/ViMbAdmin/Smarty/functions"
resources.smarty.plugins[] = APPLICATION_PATH "/../library/Smarty/plugins"
resources.smarty.plugins[] = APPLICATION_PATH "/../library/Smarty/sysplugins"
resources.smarty.debugging = 0

[development : production]

mini_js = 0
mini_css = 0

phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

resources.logger.writers.firebug.enabled = 1
resources.logger.writers.firebug.level = 7

resources.view.debugging = true
resources.smarty.debugging = true
